<div class="sectionContainer introCont">
  <div class="sectionHeader">
    מסכת מקואות פרק שביעי
  </div>
  <div class="sectionText">
    <p>
      א יֵשׁ מַעֲלִין אֶת הַמִּקוָה
      וְלֹא פוֹסְלִין, פּוֹסְלִין וְלֹא מַעֲלִין, לֹא מַעֲלִין וְלֹא פוֹסְלִין.
      אֵלּוּ מַעֲלִין וְלֹא פוֹסְלִין, הַשֶּׁלֶג, וְהַבָּרָד, וְהַכְּפוֹר,
      וְהַגָּלִיד, וְהַמֶּלַח, וְהַטִּיט הַנָּרוֹק. אָמַר רִבִּי עֲקִיבָא, הָיָה
      רִבִּי יִשׁמָעֵאל דָּן כְּנֶגדִּי לוֹמַר, הַשֶּׁלֶג אֵינוּ מַעֲלֶה אֶת
      הַמִּקוָה. וְהֵעִידוּ אַנשֵׁי מֵידְבָא מִשְּׁמוֹ שֶׁאָמַר לָהֶם, צְאוּ
      וְהָבִיאוּ שֶׁלֶג וַעֲשׂוּ מִקוָה בַּתְּחִלָּה. רִבִּי יוֹחָנָן בֶּן נוּרִי
      אוֹמֵר, אֶבֶן הַבָּרָד, כַּמַּיִם. כֵּיצַד מַעֲלִין וְלֹא פוֹסְלִין. מִקוָה
      שֶׁיֵּשׁ בּוֹ אַרבָּעִים סְאָה חָסֵר אַחַת, נָפַל מֵהֶם סְאָה לְתוֹכוֹ
      וְהֶעֱלָהוּ, נִמצְאוּ מַעֲלִין וְלֹא פוֹסְלִין:
    </p>
    <p>
      ב אֵלּוּ פוֹסְלִין וְלֹא
      מַעֲלִין, הַמַּיִם בֵּין טְמֵאִים בֵּין טְהוֹרִים, וּמֵי כְּבָשִׁים וּמֵי
      שְׁלָקוֹת, וְהַתֶּמֶד עַד שֶׁלֹּא הִחמִיץ. כֵּיצַד פוֹסְלִין וְלֹא מַעֲלִין.
      מִקוָה שֶׁיֵּשׁ בּוֹ אַרבָּעִים סְאָה חָסֵר קֻרטוֹב וְנָפַל מֵהֶן קֻרטוֹב
      לְתוֹכוֹ, לֹא הֶעֱלָהוּ, פּוֹסְלוֹ בִּשׁלשָׁה לוֹגִין. אֲבָל שְׁאָר
      הַמַּשׁקִין, וּמֵי פֵרוֹת, וְהַצִּיר, וְהַמֻּריָס, וְהַתֶּמֶד מִשֶּׁהִחמִיץ,
      פְּעָמִים מַעֲלִין וּפעָמִים שְׁאֵינָן מַעֲלִין. כֵּיצַד. מִקוָה שֶׁיֵּשׁ בּוֹ
      אַרבָּעִים סְאָה חָסֵר אַחַת, נָפַל לְתוֹכוֹ סְאָה מֵהֶם, לֹא הֶעֱלָהוּ. הָיוּ
      בוֹ אַרבָּעִים סְאָה, נָתַן סְאָה וְנָטַל סְאָה, הֲרֵי זֶה כָּשֵׁר:
    </p>
    <p>
      הֵדִיחַ בּוֹ סַלֵּי זֵיתִים וְסַלֵּי עֲנָבִים, וְשִׁנּוּ אֶת
      מַראָיו, כָּשֵׁר. רִבִּי יוֹסֵי אוֹמֵר, מֵי הַצְּבָע פוֹסְלִין אוֹתוֹ
      בִּשׁלשָׁה לוֹגִין, וְאֵינָן פוֹסְלִין אוֹתוֹ בְּשִׁנּוּי מַראֶה. נָפַל
      לְתוֹכוֹ יַיִן וּמֹחַל, וְשִׁנּוּ אֶת מַראָיו, פָּסוּל. כֵּיצַד יַעֲשֶׂה.
      יַמתִּין לוֹ עַד שֶׁיֵּרְדוּ גְּשָׁמִים וְיַחזְרוּ מַראֵיהֶן לְמַראֵה הַמַּיִם.
      הָיוּ בוֹ אַרבָּעִים סְאָה, מְמַלֵּא בַּכָּתֵף וְנוֹתֵן לְתוֹכוֹ עַד
      שֶׁיַּחזְרוּ מַראֵיהֶן לְמַראֵה הַמַּיִם:
    </p>
    <p>
      נָפַל לְתוֹכוֹ יַיִן אוֹ מֹחַל וְשִׁנּוּ מִקצַת מַראָיו, אִם
      אֵין בּוֹ מַראֵה מַיִם אַרבָּעִים סְאָה, הֲרֵי זֶה לא יִטבּוֹל בּוֹ:
    </p>
    <p>
      שְׁלֹשָׁה לוֹגִין מַיִם, וְנָפַל לְתוֹכָן קֻרטוֹב יַיִן,
      וַהֲרֵי מַראֵיהֶן כְּמַראֵה הַיַּיִן, וְנָפְלוּ לַמִּקוָה, לא פְסָלוּהוּ.
      שְׁלֹשָׁה לוֹגִין מַיִם חָסֵר קֻרטוֹב, וְנָפַל לְתוֹכָן קֻרטוֹב חָלָב, וַהֲרֵי
      מַראֵיהֶן כְּמַראֵה הַמַּיִם, וְנָפְלוּ לַמִּקוָה, לא פְסָלוּהוּ. רִבִּי
      יוֹחָנָן בֶּן נוּרִי אוֹמֵר, הַכֹּל הוֹלֵך אַחַר הַמַּראֶה:
    </p>
    <p>
      מִקוָה שֶׁיֵּשׁ בּוֹ אַרבָּעִים סְאָה מְכֻוָּנוֹת, יָרְדוּ
      שְׁנַיִם וְטָבְלוּ זֶה אַחַר זֶה, הָרִאשׁוֹן טָהוֹר וְהַשֵּׁנִי טָמֵא. רִבִּי
      יְהוּדָה אוֹמֵר, אִם הָיוּ רַגלָיו שֶׁלָּ-רִאשׁוֹן נוֹגְעוֹת בַּמַּיִם, אַף
      הַשֵּׁנִי טָהוֹר. הִטבִּיל בּוֹ אֶת הַסְּגוֹס וְהֶעֱלָהוּ, מִקצָתוֹ נוֹגֵעַ
      בַּמַּיִם, טָהוֹר. הַכַּר וְהַכֶּסֶת שֶׁלְּ-עוֹר, כֵּיוָן שֶׁהִגבִּיהַּ
      שִׂפתוֹתֵיהֶם מִן הַמַּיִם, הַמַּיִם שֶׁבְּתוֹכָן שְׁאוּבִין. כֵּיצַד יַעֲשֶׂה.
      מַטבִּילָן וּמַעֲלֶה אוֹתָם דֶּרֶך שׁוּלֵיהֶם:
    </p>
    <p>
      הִטבִּיל בּוֹ אֶת הַמִּטָּה, אַף עַל פִּי שֶׁרַגלֶיהָ
      שׁוֹקְעוֹת בַּטִּיט הֶעָבֶה, טְהוֹרָה, מִפְּנֵי שֶׁהַמַּיִם מְקַדְּמִין. מִקוָה
      שֶׁמֵּימָיו מְרוֹדָדִין, כּוֹבֵשׁ אַפִלּוּ חֲבִלֵּי עֵצִים, אַפִלּוּ חֲבִלֵּי
      קָנִים, כְּדֵי שֶׁיִּתפְּחוּ הַמַּיִם, וְיוֹרֵד וְטוֹבֵל. מַחַט שְׁהִיא
      נְתוּנָה עַל מַעֲלוֹת הַמְּעָרָה, הָיָה מוֹלִיך וּמֵבִיא בַּמַּיִם, כֵּיוָן
      שֶׁעָבַר עָלֶיהָ הַגַּל, טְהוֹרָה: אֶרֶץ יִשְׂרָאֵל טהוֹרָה, וּמִקְוָאוֹתֶיהָ טְהוֹרִים.
    </p>
  </div>
</div>