<div class="toolbar">
  <div class="options-container">
  </div>
  <div class="title-container">
  </div>
  <div class="settings-container" (click)="showSettings = true">
    <img src='assets/settings.svg'/>
  </div>
</div>
<app-navigation-bar [direction]="settingsDirection"
                    [title]="'הגדרות'"
                    [isOpen]="showSettings"
                    (close)="showSettings = false">
  <app-settings (settingsSaved)="showSettings = false">

  </app-settings>
</app-navigation-bar>
<div class="header">
  <div class="warpper">
    <h1>לעילוי נשמת</h1>
    <div class="subHeader">
      <div class="subHeaderText">
        חסיבה בת ימנה ז"ל
      </div>
    </div>
    <div class="headerInfo">
      משניות לעילוי נשמת
    </div>
  </div>
</div>
<div class="content" [ngClass]="appSettings.fontColor"
     [style.font-size.px]="appSettings.fontSize">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <div class="sectionContainer">
    <div class="sectionHeader">
      אתר זה נכתב לעילוי נשמת "חסיבה בת ימנה"
      <br />
      תהא נשמתה צרורה בצרור החיים
    </div>
  </div>
</div>
