<div class="header">
  <div class="warpper">
    <h1>לעילוי נשמת</h1>
    <div class="subHeader">
      <div class="subHeaderText">
        חסיבה בת ימנה ז"ל
      </div>
    </div>
    <div class="headerInfo">
      משניות לעילוי נשמת
    </div>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <div class="sectionContainer">
    <div class="sectionHeader">
      אתר זה נכתב לעילוי נשמת "חסיבה בת ימנה"
      <br />
      תהא נשמתה צרורה בצרור החיים
    </div>
  </div>
</div>
